<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>wchatta</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  
</head>
<body>
<header>
  <div>
    <h2 class=''>WCHATTA APP</h2>
    <p class=''>Weather App</p>
  </div>
</header>
  <main>
    <form action="/" method="POST">
      <input type="search" name="city" placeholder="Enter City">
      <button>Search</button>
    </form>
    <div id="weather-location">
    <div class="location-city">
      <%= name%>, <%= country%>
    </div>
    <div class="location-date"><%=wdate %></div>
    <% if(temp !== null) {%>
    	 <div class="temp-value">
      <%=temp%> <sup>o</sup>C      
     </div>
   <% }%>
   
    <% if(temp !== null) {%> 
    <div class="weather-icon">
       <img  src="http://openweathermap.org/img/w/<%=icon%>.png" alt="weather icon">
    </div>
   <% }%>
     
    <div class="temp-reading">
      <%=description%>
  </div>
  </main>
  
  <footer></footer>
  <script src="/js/bootstrap.bundle.min.js"></script>  
</body>
</html>